<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="SistemaPhotoStudioPU">
    <class>br.unirn.dominio.Album</class>
    <class>br.unirn.dominio.Carrinho</class>
    <class>br.unirn.dominio.Bairro</class>
    <class>br.unirn.dominio.Cidade</class>
    <class>br.unirn.dominio.Estado</class>
    <class>br.unirn.dominio.Contato</class>
    <class>br.unirn.dominio.Endereco</class>
    <class>br.unirn.dominio.Fotografo</class>
    <class>br.unirn.dominio.Fotografocliente</class>
    <class>br.unirn.dominio.Gestor</class>
    <class>br.unirn.dominio.Venda</class>
    <class>br.unirn.dominio.Cliente</class>
    <properties>
      <!-- dados da conexao -->
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/BancoFinal"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="javax.persistence.jdbc.password" value="280394"/>
    </properties>
  </persistence-unit>
</persistence>
